sudo: false
language: node_js
node_js:
  - '8'
  - '9'
  - '10'
  - '11'
  - node

install:
  - npm install

script:
  - npm run build

after_success:
  - npm i coveralls -D
  - cat ./coverage/lcov.info | coveralls
